h1 {
  color: red;
  font-family: "Times New Roman";
  float: right;
  padding-left: 1rem;
  background-color: grey;
}
h2 {
  color: red;
  font-family: "Times New Roman";
  text-align: center;
  background-color: grey;
}

.body {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  padding-bottom: 5rem;
  align-items: center;
  background-color: black;
  font-size: large;
}

.title {
  float: inline-start;
  color: red;
}

h3 {
  flex-direction: inline-center;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background: red;
}

nav {
  background: #333;
  padding: 1em;
  text-align: center;
}

nav a {
  color: black;
  margin: 0 1em;
  text-decoration: none;
}

main {
  padding: 2em;
}

img {
  max-width: 25%;
  height: auto;
}

footer {
  background-color: white;
  color: white;
  height: 70px;
  padding: 10px;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  box-shadow: 0 0 12px 2px black;
}

h4 {
  font-size: large;
}

h5 {
  font-size: large;
}
